---
import HTMLShell from "../layouts/HTMLShell.astro";
import PortableText from "@components/PortableText.astro";
import { getBasicPages } from "src/api/basicPage";

export const getStaticPaths = getBasicPages;

const { pageTitle, pageDescription, pageImage, content } = Astro.props;
---

<HTMLShell
  pageTitle={pageTitle}
  pageDescription={pageDescription}
  pageImage={pageImage}
>
  <main>
    <h1>{pageTitle}</h1>
    <PortableText content={content} />
  </main>
</HTMLShell>
