---
import { getHomePage } from "src/api/homePage";
import HTMLShell from "../layouts/HTMLShell.astro";
import PortableText from "@components/PortableText.astro";
import MicroSite from "@components/MicroSite.astro";

const { pageTitle, pageDescription, pageImage, content } = await getHomePage();
---

<HTMLShell
  pageTitle={pageTitle}
  pageDescription={pageDescription}
  pageImage={pageImage}
>
  <main id="root">
    <MicroSite />
    <!-- <h1>{pageTitle}</h1> -->
    <!-- <PortableText content={content} /> -->
  </main>
</HTMLShell>
